:root {
  --primary-color: #7d669bff;
  --secondary-color: #f098b6ff;
  --dark-color: #292929;
  --white-color: #e7e7e7;
  --gray-color: #e0e0e0;
}

main > .container {
  padding: 60px 15px 0;
}

body {
  color: var(--dark-color);
}

nav {
  background-color: var(--dark-color);
}

footer {
  background-color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
}

footer {
  padding-right: 1rem;
}

footer .social > a {
  color: var(--white-color);
  opacity: 0.75;
}

footer .social > a:hover {
  opacity: 0.9;
  color: var(--secondary-color);
}

.form-bg {
  background-color: var(--gray-color);
}

.btn-fill:hover {
  background-color: var(--secondary-color);
}

.sticky-nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.button-variant {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.table-header {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.bsicon {
  color: purple;
}

.jsicon {
  color: yellow;
}

.html5icon {
  color: orangered;
}

.cssicon {
  color: rgb(11, 82, 114);
}

.checklist > li em {
  color: var(--secondary-color);
}
.text-big {
  font-size: 5em;
  font-weight: bolder;
}

code[class*="language-"],
pre[class*="language-"] {
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  font-size: 1rem;
}